body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image:  url("Images/pin.png");
position: -webkit-sticky;
position: sticky;
border: 50%;
padding-left: 50%;




/* Set a specific height */
height: 100%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
 .hero-text { 
text-align: center;
/* position: absolute; */
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: rgb(228, 66, 66);
} 


#bt{
  position: absolute;
  border: 1px solid red;
  bottom: 70px;
  right: 15px;
};

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: center;
  width: 33.33%;
  padding: 55px;
  border:55em ;

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
 
}

.row{
 padding: 55px;
 margin: 155px;
 border:15px ;

};

#pop{
  padding: 55px;
 margin: 155px;
 border:15px ;
 width: 100px;
}

.container-fluid{
  padding: 55px;
 margin: 155px;
 border:105px ;
};

.card{
  border:15px ;
  margin: 155px;
  padding: 55px;
}

